- content_for :extra_head do
  %meta{:name => "keywords", :content => "cool"}
%b= link_to "Secret URL (must login)", secret_path
#bb-test Loading backbone...
%br
%br
%b List of users:
%ul
- @users.each do |u|
  %li= link_to "#{u.id}: #{u.email} #{u.full_name}", user_path(u)
