<!DOCTYPE html>
<html lang="<%= @locale %>" data-debug="<%= @debug %>" data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>">
<head>
  <meta charset="utf-8">
  <title>RailsBoilerplate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
