!!! 5
- title = @page_title ? "#{@page_title} - #{t :app}" : "#{t :app} - #{t :description_short}"
%html{:lang => @locale, :data => {:debug => @debug,
    :controller => controller_name,
    :action => action_name}}
  %head
    %meta{:charset => 'utf-8'}
    %title= title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %meta{:name => "description", :content => t(:description_long, :app => t(:app))}
    = csrf_meta_tags
    = yield :extra_head
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Rails on Rails", root_path, :class => "brand"
          .nav-collapse
            %ul.nav
              %li= link_to_active "Home", root_path
              - if current_user
                %li= link_to_active "Profile", user_path(current_user)
                %li= link_to "Logout", logout_path
              - else
                %li= link_to_active "Sign up", signup_path
                %li= link_to_active "Login", login_path
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "alert flash_#{name}"
      = yield
