!!! 5
- title = @page_title ? "#{@page_title} - #{t :app}" : "#{t :app} - #{t :description_short}"
%html{:lang => @locale, :data => {:debug => @debug,
    :controller => controller_name,
    :action => action_name}}
  %head
    %meta{:charset => 'utf-8'}
    %title= title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %meta{:name => "description", :content => t(:description_long, :app => t(:app))}
    = csrf_meta_tags
    = yield :extra_head
  %body
    - if current_user
      ="Logged in as #{current_user.email}."
      =link_to "Log out", logout_path
    - else
      ="#{link_to "Sign up", signup_path} or #{link_to "Log in", login_path}.".html_safe
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    #main= yield
